<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> AdminConsole </title>
  <link rel="stylesheet" href="../css/admin_style.css">
  <!-- Boxicons CDN Link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class="bi bi-globe"></i>
      <span class="logo_name">Menu</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/">
          <i class="bi bi-house"></i>
          <span class="links_name"></c> หน้าหลัก</span>
        </a>
      </li>
      <li>
        <a href="/post_board">
          <i class="bi bi-pencil-square"></i>
          <span class="links_name"></c> สร้างกระทู้</span>
        </a>
      </li>
      <li>
        <a href="/my_board">
          <i class="bi bi-archive"></i>
          <span class="links_name"></c> กระทู้ของฉัน</span>
        </a>
        <li>
          <a href="/profile">
            <i class="bi bi-person-circle"></i>
            <span class="links_name"></c> โปรไฟล์</span>
          </a>
      </li>
      <% if (user && user.isAdmin == 'Y') { %>
      <li>
        <a href="/adminBKB" class="active">
          <i class="bi bi-info-circle"></i>
          <span class="links_name"></c> Dashboard</span>
        </a>
      </li>
      <% } %>
      <% if (user) { %>
      <li class="log_out">
        <a href="/logout">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
      <% } %>
    </ul>
  </div>

  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search'></i>
      </div>
      <div class="profile-details">
        <% if (user) { %>
          <img src="../images/<%= user.profile_picture %>" alt="">
          <span class="admin_name">
            <%= user.username %>
          </span>
          <!-- <a href="/logout">ออกจากระบบ</a> -->
          <% } else { %>
            <!-- <span>Guest</span> -->
            <a href="/login">เข้าสู่ระบบ</a>
            &emsp;
            <a href="/signup">สมัครสมาชิก</a>
            <% } %>
      </div>
    </nav>

    <div class="home-content">
      <div class="lish-boxes">
        <div class="recent-lish box">
          <div class="title">User Management</div>
          <div class="lish-details">
            <div class="header_wrap">
            </div>
            <table class="table table-striped table-class" id="table-id">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Profile</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% for (const user of users) { %>
                <tr>
                  <td><%= user.uid %></td>
                  <td>
                    <img src="../images/<%= user.profile_picture %>" alt="ผู้ใช้งาน">
                  </td>
                  <td> <%= user.username %></td>
                  <td> <%= user.email %></td>
                  <td>****</td>
                  <td>
                    <form method="post" action="/view_user_profile">
                    <input type="hidden" name="uid" value="<%= user.uid %>">
                    <input type="hidden" name="username" value="<%= user.username %>">
                    <input type="hidden" name="email" value="<%= user.email %>" >
                    <input type="hidden" name="display_name" value="<%= user.display_name %>" >
                    <div class="button">
                      <button class="view" type="summit">View</button>&nbsp
                      <button class="edit" type="summit" formaction="/view_edit_user">Edit</button>&nbsp
                      <button class="delete" type="summit" formaction="/delete_user">Delete</button>
                    </div>
                  </form>
                  </td>
                </tr>
                <% } %>


                <!-- <tr>
                  <td>2</td>
                  <td>
                    <img src="../images/<%= user.profile_picture %>" alt="ผู้ใช้งาน">
                  </td>
                  <td>Anna</td>
                  <td>erat@veum.ca</td>
                  <td>8180</td>
                  <td>
                    <div class="button">
                      <a class="view" href="#">View</a>&nbsp
                      <a class="edit" href="#">Edit</a>&nbsp
                      <a class="delete" href="#">Delete</a>
                    </div>
                  </td>
                </tr> -->

              <tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
      sidebar.classList.toggle("active");
      if (sidebar.classList.contains("active")) {
        sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else
        sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
  </script>

</body>

</html>