<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WebBoard_กระทู้ของฉัน</title>
  <link rel="stylesheet" href="css/my_board.css" />
  <link rel="stylesheet" href="css/index.css" />
  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body>
<nav class="sidebar">
  <a class="logo">Menu</a>

  <div class="menu-content">
    <ul class="menu-items">
      <li class="item">
        <a href="/">
          <c class="fa-solid fa-house"></c>หน้าหลัก
        </a>
      </li>
      <li class="item">
        <a href="/post_board">
          <c class="fa-solid fa-pen-to-square"></c>สร้างกระทู้
        </a>
      </li>

      <li class="item">
        <a href="/my_board">
          <c class="fa-solid fa-clipboard-user"></c>กระทู้ของฉัน
        </a>
      </li>

      <li class="item">
        <a href="#">
          <c class="fa-solid fa-ranking-star"></c>ประวัติการโพสต์
        </a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar">
  <i class="fa-solid fa-bars" id="sidebar-close"></i>
  <strong style="font-size: 31px;position: static;">Board</strong>
  <div class="search-box">
    <form action="" class="search-form">
      <input type="text" name="search" id="srch" placeholder="Search" class="search-input">
      <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="user-info">
    <i class="fa-solid fa-user"></i>
  <% if (user) { %>
    <span><%= user.username %></span>
    <a href="/logout">ออกจากระบบ</a>
    <% } else { %>
      <span>Guest</span>
      <% } %>
  </div>
  <a style="font-size:14px;color: aliceblue;" href="/login">เข้าสู่ระบบ/สมัครสมาชิก</a>
</nav>
<main class="main">
  <% Posts.forEach(function(post) { %>
    <% if (post.Users_uid === user.uid) { %>
      <section class="my-board">
        <h1>My Board</h1>
        <ul>
          <li>
            <div class="my-board-date">
            </div>
            <h1><%= post.topic %></h1>
            <p><%= post.details %></p>
            <div class="my-board-buttons">
              <form action="/edit/<%= post.id %>" method="post"></form>
                <input type="hidden" name="post_id" value="<%= post.id %>">
                <button class="edit-button">Edit</button>
              </form>
              <form action="/delete/<%= post.id %>" method="post">
                <input type="hidden" name="post_id" value="<%= post.id %>">
                <button class="remove-button">Remove</button>
              </form>
            </div>
          </li>
        </ul>
      </section>
    <% } %>
  <% }) %>
  </section>
</main>

<script src="script.js"></script> //slide bar affect
</body>

</html>